<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.Bomberman" android:versionCode="1"
	android:versionName="1.0">


	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Bomberman" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="CreerPartieSolo" android:label="Création partie solo"
			android:screenOrientation="portrait"></activity>

		<activity android:name="ConnexionCompteMulti" android:label="Connexion au compte Multijoueurs"
			android:screenOrientation="portrait"></activity>

		<activity android:name="AccueilMulti" android:label="Accueil des parties Multijoueurs"
			android:screenOrientation="portrait"></activity>

		<activity android:name="CreerCompteMulti" android:label="Créer un compte Multijoueurs"
			android:screenOrientation="portrait"></activity>

		<activity android:name="CreerPartieMulti" android:label="Créer une partie Multijoueurs"
			android:screenOrientation="portrait"></activity>

		<activity android:name="Options" android:label="Options"
			android:screenOrientation="portrait"></activity>

		<activity android:name="GestionProfil" android:label="Gestion des profils"
			android:screenOrientation="portrait"></activity>

		<activity android:name="ChangerCompteMulti" android:label="Changement compte Multijoueurs"
			android:screenOrientation="portrait"></activity>

		<activity android:name="ChangerPassMulti"
			android:label="Changement mot de passe compte Multijoueurs"
			android:screenOrientation="portrait"></activity>

		<activity android:name="CreerCompteHorsLigne"
			android:label="Création d'un compte hors ligne"
			android:screenOrientation="portrait"></activity>



	</application>
</manifest>