<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.klob.Bomberklob" android:versionCode="1"
	android:versionName="1.0">

	<supports-screens android:resizeable="true"
		android:smallScreens="true" android:normalScreens="true"
		android:largeScreens="true" android:anyDensity="true" />

	<application android:label="@string/app_name"
		android:theme="@style/textColor" android:icon="@drawable/gamename">
		<activity android:label="@string/app_name" android:name="Main"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:screenOrientation="landscape" android:name=".menus.Home"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape" android:name=".menus.SinglePlayer"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape"
			android:name=".game.SinglePlayerLayout" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape" android:name=".game.SinglePlayerMenu"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape" android:name=".menus.Options"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape" android:name=".menus.Editor"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape" android:name=".editor.EditorLayout"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape" android:name=".menus.EditorLoader"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
		<activity android:screenOrientation="landscape" android:name=".menus.ProfileManager"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

		<activity android:screenOrientation="landscape"
			android:name=".menus.CreateAccountOffline" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>


		<activity android:name=".menus.NewAccountOffline"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

		<activity android:name=".menus.Help"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>


		<!-- multi -->

		<activity android:name=".menus.Multiplayer"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

		<activity android:name=".menus.MultiplayerAccountEdit"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

		<activity android:name=".menus.MultiplayerChangeAccount"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

		<activity android:name=".menus.MultiplayerHome"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

		<activity android:name=".menus.MultiplayerNewAccount"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>










	</application>
</manifest>